body {
    background-color: #add8e6;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    border-radius: 15px;
    padding: 15px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: square;
}

/* This changes the main overview section*/
.overview {
    background-color: #cfb593;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* This changes the look of the software engineering section*/
.software-engineering {
    background-color: #faebd7;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}